* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}

#mainPage {
    width: 95%;
    height: 95vh;
    margin: 0px auto;
    background-color: white;
    box-shadow: 0px 0px 1px 3px  rgb(238, 173, 186);
    border-top: 5px solid crimson;
    position: relative;
}

/* header block starts here */

#headerBlock {
    width: 100%;
    height: 75px;
    /* border: 1px solid black; */
}

#headerBlock article{
    width: 85%;
    margin: 0px auto;
    /* border: 1px solid black; */
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerBlock article .logo{
    color: crimson;
    font-size: 30px;
    width: 15%;
    /* border: 1px solid salmon; */
}

#headerBlock article .logo span{
    color: #999;
    font-style: italic;
    font-family: 'Cedarville Cursive';
    font-weight: 900;
    font-size: 35px;
}

#headerBlock article .nav{
    width: 70%;
    /* border: 1px solid coral; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    color: #999;
    font-size: 15px;
}

#headerBlock article .nav :first-child{
    /* margin-bottom: */
    border-bottom: 3px crimson dashed;
}

#headerBlock article .kart{
    width: 15%;
    /* border: 1px solid coral; */
    font-size: 15px;
    text-align: end;

}

#headerBlock article .kart i{
    margin: 10px 8px;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 100%;
    background-color: white;
    color: #999;
}

/* Main block starts here */
#mainBlock {
    width: 95%;
    min-height: 340px;
    max-height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

#mainBlock > i {
color: white;
padding: 8px;
font-size: 15px;
background-color:black;
position: absolute;
top: 155px;
left: 0px;
}

#mainBlock .mainBlockContent {
    width: 40%;
    height: 250px;
    margin:  auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}
#mainBlock .mainBlockContent .mainBlockContent1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#mainBlock .mainBlockContent aside h1{
color: crimson;
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
font-style: italic;
letter-spacing: 2px;
padding-bottom: 15px;
}

#mainBlock .mainBlockContent aside h2{
    font-size: 42px;
    letter-spacing: 3px;
    font-weight: 600;
    word-spacing: 9px;
    font-stretch: ultra-expanded;
}

#mainBlock .mainBlockContent aside h3{
    color: #999;
    font-size: 11px;
    font-weight: 500;
    margin-top: 5px;
    width: 450px;
}

#mainBlock .mainBlockContent aside{
    text-align: center;
    margin-top: 13px;
}
#mainBlock .mainBlockContent aside > p{
    /* border: 1px solid green; */
    display: inline-block;
    padding: 10px 14px;
    margin-top: 20px;
    background-color: crimson;
    color: white;
    letter-spacing: 1.5px;
    font-size: 15px;
    border-radius: 8px;
}

#mainBlock .mainBlockContent aside i{
    font-size: 33px;
    color: white;
    background-color: #999;
    border-radius: 100%;
    border: 1px solid #999;
    margin-left: 20px;
}

#mainBlock .mainBlockContent aside  .watchnow{
    /* border: 1px solid green; */
    display: inline-block;
    padding: 10px 14px;
    margin-top: 20px;
    background-color: #999;
    color: white;
    letter-spacing: 1.5px;
    font-size: 15px;
    border-radius: 8px;
}

#mainBlock .mainBlockImage {
    width: 50%;
    height: 335px;
    background-image: url('./7747.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



/* footerBlock starts here */
#footerBlock {
    width: 100%;
    height: 250px;
}

#footerBlock article {
    width: 85%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    /* border: 2px solid black; */
}

#footerBlock article .footerChild {
    /* border: 2px solid crimson; */
    height: inherit;
    width: 28%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footerBlock article .footerChild .footerChildContent {
    width: 80%;
}

#footerBlock article .footerChild div i {
    font-size: 27px;
    margin-bottom: 40px;
    /* margin-right: 20px; */
    color: crimson;
}

#footerBlock article .footerChild .footerChildContent h1 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.8px;
}

#footerBlock article .footerChild .footerChildContent p {
    font-size: 10px;
    color: #999;
    margin: 10px 0;
    letter-spacing: 0.5px;
}

#footerBlock article .footerChild .footerChildContent h4 {
    font-size: 10px;
    color: #999;
}